html{
    background-color: black;
    color: rgb(255, 255, 255);
}

@font-face {
    font-family: 'font2';
    src: url("../Font/font2.ttf");
   }
body{
    font-family: 'font2';
    font-size: 100%;
    font-weight: lighter;

}
section{
    background-color: rgb(23, 23, 23);

}
#gif{
    height: 60%;
    width: 60%;
}
.pp{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
}
h1{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
#menu{
    width: 6%;
    height: 6%;
    display: block;
    float: right;
    position:sticky;
    top: 0;
}
#head{
    text-align:center;

}
h1{
    background-color: rgb(23, 23, 23);
}
.logo{
    height: 50px;
    width: 50px;
}

#logo{
    width: 75px;
    height: 55px;

}
#background{
    background-color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    padding-left: 3%;
    opacity: 87%;
    text-align: center;
}
#logoY{
    height: 40px;
    width: 75px;
}
nav {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 0px;
    text-align: center;
    height: 2%;
    opacity: 0.9;
    background-color: rgb(255, 255, 255);
    font-family: 'font2';
    font-size: 250%;
    color: rgba(0, 0, 0, 0.932);

}

nav ul {
    list-style-type: none;
    display: flex;
    display: inline-block;
    padding-right:  8%;
    padding-left: 8%;  
}

a{
    color: rgb(55, 55, 55);
    -webkit-transition: color 1s;
    transition: color 1s;
}
a:hover {
    color: rgb(0, 0, 0);
}

.espacement{
    padding-top: 2%;
    padding-bottom: 5%;
}